// Color variables:

$color-black: #000;
$color-white: #fff;
$color-gray: #858594;
$color-gray-border: #D2D2D2;
$color-light-gray: #e0e0e0;
$color-orange: #F5913D;
$color-orange-active: rgb(226, 123, 39);